@font-face {
    font-family: "Montserrat";
    src:
      url("Montserrat-Regular.ttf");
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --first-color: #119DA4;
    --second-color: #0C7489;
    --third-color: #13505B;
    --main-bg-color: #040404;
    --second-bg-color: #D7D9CE;

    font-family: "Montserrat";
    color: var(--main-bg-color);
}
header {
    background-color: var(--second-bg-color);
    padding: 1rem;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    width: 50%;
}
h1 {
    font-weight: 900;
}
.menu {
    display: flex;
    justify-content: center;
}
main {
    background-image: url(campaign-creators.jpg);
    background-size: cover;
    height: 889px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.rechercherFormation {
    background-color: var(--second-bg-color);
    border-radius: 1rem;
    width: fit-content;
    margin-top: 10rem;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
footer {
    height: 300px;
    background-color: var(--main-bg-color);
}