.backgroundAdmin{
    background: url(../../../assets/fond-bureau-flou.png);
    background-size: cover;
    padding: 90px;
    height: 1000px;
    display: flex;
    justify-content: center;
}
.container {
    width: 600px;
    height: 1000px;
    max-width: 600px;
    /*margin-top:10%;*/
    /*margin-bottom:20%;*/
    padding: 2rem;
    box-shadow: 0 0 40px rgba(215, 216, 210, 0.2);
    border-radius: var(--border-radius);
    transform:translate(-5%,-5%);
    font: 500 1rem 'Quicksand', sans-serif;
    background: rgba(0,0,0, 0.6);
    color: var(--second-bg-color);
}