<section class="rechercheForm">
    <form [formGroup]="selectionForm" (ngSubmit)="onSubmit()" id="rechForm">
        <fieldset>
            <legend>Critères</legend>
            <div>
                <label for="theme">Thème : </label>
                <select name="theme" id="theme" formControlName="theme">
                    <option value="Tous">Tous</option>
                    @for (theme of themes; track theme) {
                        <option [value]="theme">{{ theme }}</option>
                    }
                </select>
            </div>
            <div>
                <select name="soustheme" id="soustheme">
                    <option value="sous-thème">choisissez un sous-thème</option>
                </select>
            </div>

            <fieldset>
                <legend>Villes</legend>
                <div class="ligneSelection">
                    <input type="radio" name="ville" formControlName="ville" id="ville0" value="Toutes"><label for="ville0">Toutes</label>
                </div> 
                <div class="ligneSelection">
                    <input type="radio" name="ville" formControlName="ville" id="ville1" value="Lille"><label for="ville1">Lille</label>
                </div> 
                <div class="ligneSelection">  
                    <input type="radio" name="ville" formControlName="ville" id="ville2" value="Paris"><label for="ville2">Paris</label> 
                </div> 
                <div class="ligneSelection">
                    <input type="radio" name="ville" formControlName="ville" id="ville3" value="Rouen"><label for="ville3">Rouen</label>   
                </div>
                                
            </fieldset>
            <fieldset>
                <legend>Durées</legend>
                <div class="ligneSelection">
                    <input type="checkbox" name="check1" id="check1"><label for="check1">1 mois</label>
                </div> 
                <div class="ligneSelection">  
                    <input type="checkbox" name="check2" id="check2"><label for="check2">2 mois</label> 
                </div> 
                <div class="ligneSelection">
                    <input type="checkbox" name="check3" id="check3"><label for="check3">3 mois</label>   
                </div>
                                
            </fieldset>
            <div class="boutons">
                <button type="submit">Valider</button>
                <button type="reset">Réinitialiser</button>
            </div>
            
        </fieldset>
    </form>
</section>