

<section class="baniere">
  <article class="catalogue">
    <div class="titres">
      <H2 id="titre1"> NOS CATALOGUES DES FORMATIONS
      </H2>

      <H4 id="titre2">A ce jour,nous vous proposons plus de 800 formations

      </H4>
    </div>
    <div class="block">


      <mat-toolbar class="catalogue-button" >
        <button class="rh-button" mat-raised-button routerLink="home">Ressources humaines </button>
        <button class="nav-button"  mat-raised-button routerLink="catalogue"> Management </button>
        <button class="nav-button"  mat-raised-button routerLink="formations">Finances</button>
        <button class="nav-button"  mat-raised-button routerLink="demande-formation-spe">Informatiques </button> 

    </mat-toolbar>





    </div>

  </article>


  <div class="formule1">
    <H2> 3 formules : </H2>
  </div>

  <div class="parent">

    <div class="box1">
      <h3> Intra-entreprise</h3>
      <p>C'est une action de formation pour une seule entreprise et pour un ou plusieurs de vos collaborateurs.
        Vous choisissez le lieu et la date à votre convenance. <br> <br>

      </p>

    </div>
    <div class="box2">
      <h3> Inter-entreprise</h3>
      <p>
        C'est une action de formation qui regroupe des salariés de diverses entreprises dans une même session.
        Le lieu et les dates sont imposées. <br> <br>

      </p>
    </div>
    <div class="box3">
      <h3> Demande Individuelle </h3>

      <p>
        C'est une action de formation que nous réalisons de façon Personalisée.
        Nous pouvons adapter les dates, les horaires et le rythme à vos besoins. <br> <br>
      </p>
    </div>

  </div>

    <div>
      <mat-toolbar class="button-individuel1">
        <button class="individuel1" mat-raised-button routerLink="catalogue">CATALOGUES</button>
        <button class="individuel2" mat-raised-button routerLink="catalogue">DEMANDE PERSONALISEE</button>
      </mat-toolbar>
    </div>
</section>