<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="catalogue">
        <div class="titres">
        <H2 id="titre1"> NOS CATALOGUES DES FORMATIONS </H2>
    
        <H4 id="titre2">A ce jour,nous vous proposons plus de 800 formations </H4>
        </div>
        <div class="block" >
       
            <a href="rh" id="rh" >Ressources humaines  </a>
            <a href="management" id="management">Management</a> 
            <a href="finance" id="finance">Finances</a>
            <a href="informatique" id="informatique">Informatiques</a>
            <a href="video" id="video"> Videos </a>
      
          
        </div>

    </section>

            <div class="formule1">
            <H2> 3 formules :   </H2>
          </div>

           <div class="parent">
            
              <div class="box1">
                <h3> 1. Intra-entreprise</h3> 
                <p>C'est une action de formation pour une seule entreprise et pour un ou plusieurs de vos collaborateurs. 
                  Vous choisissez le lieu et la date à votre convenance. <br> <br>
                  <a href="intra"> Catalogue intra-entrprise</a>
                </p>

              </div>
              <div class="box2">
                  <h3> 2. Inter-entreprise</h3>
                  <p>
                    C'est une action de formation qui regroupe des salariés de diverses entreprises dans une même session.
                     Le lieu et les dates sont imposées. <br> <br>
                     <a href="inter">Catalogue inter-entrprise</a>
                  </p> 
              </div>
              <div class="box3">
                <h3> 3. A distance </h3>
                <p> 
                  C'est une action de formation que nous réalisons à distance.
                   Nous pouvons adapter les dates, les horaires et le rythme à vos besoins. <br> <br> 
                   <a href="distance"> Catalogue à distance</a>
                </p>


              </div>
            </div>

      
  </body>
</html>
