body.formulaire-body{
    display: flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    background: url(../../../assets/fond-bureau.jpg);
    background-size: cover;
}

section.formulaireTitle {
    height: 100px;
    background-color: var(--main-bg-color);
    color: var(--second-bg-color);
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 2rem;
}
.container{
    
    background-color: var(--second-bg-color);
    opacity: 0.5;
    max-width: 900px;
    width:100%;
    border-radius: 6px;
    margin:10%;
    box-shadow: 0 5px 10px var(--third-color);
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.container form{
    
    margin-top: 16px;
    min-height: 490px;
    background-color: var(--second-bg-color) ;
    opacity: 1;

}

.input text{
    opacity: 1;
}