<div class="bg_img">
    <div class="flou">
        <section class="titres">
            <p class="grandTitre">{{formation.categorie}}</p>
            <p class="sousTitre">{{formation.nom}}</p>
            <div class="fondPresITT">
                <p class="presentationITT">{{formation.description}}</p>
            </div>
        </section>
    </div>

</div>

 
<section class="formation">

    <section class="formation-title">

        <h2>{{formation.nom}} </h2>
    
    </section>

    <section class="detail-formation">

        <p>{{formation.description}}</p>

    </section>

</section>

<section class="sessions">
    @for (session of sessions; track session) {
        <p>Début : {{session.dateStartSession}}</p>
        <p>Fin : {{session.dateEndSession}}</p>
    }

</section>

