<div class="bg_img">
    <div class="flou">
        <section class="titres">
            <!-- <p class="grandTitre">{{formation.categorie}}</p> -->
            <p class="sousTitre">{{formation.nom}}</p>
            <div class="fondPresITT">
                <p class="presentationITT">{{formation.description}}</p>
            </div>
        </section>
    </div>

</div>
<div class="contenu-detail">
    <div class="formation">
        <div class="detail-formation">
            <h3 class="sousTitre">Détails de la Formation :</h3>
            <p>{{formation.detail}}</p>
        </div>
        <div class="sessions-lieu">
            <div class="sessions">
                <h3 class="sousTitre">Sessions :</h3>
                @for (session of sessions; track session) {
                    <p>Du {{session.dateStartSession}} au {{session.dateEndSession}}</p>
                }
            </div>
            <div class="lieu">
                <h3 class="sousTitre">Lieu de la Formation :</h3>
                <p>{{formation.ville}}</p>
            </div>
        </div>
    </div>

    <div class="image-container">
        <img src="../../../assets/bureau-flou.jpg" alt="Image de la formation">
    </div>

    <div class="preq-ins">
        <button class="preq-test-btn">Passer les tests de prérequis</button>
        <button class="inscription-btn">S'inscrire à la formation</button>
    </div>
</div>


<!--  
<div class="contenu-detail">
    
    <section class="formation">

        <p class="sousTitre">Détails de la Formation : </p>

        <section class="detail-formation">

            <p>{{formation.detail}}</p>

        </section>

    </section>
    <div class="ses-lieu">
        
        <section class="sessions">
            <p class="sousTitre">Sessions : </p>

            @for (session of sessions; track session) {
                <p>Du {{session.dateStartSession}} au {{session.dateEndSession}}</p>
            }

        </section>

        <section class="lieu">
            <p class="sousTitre">Lieu de la Formation : </p>

            <p>{{formation.ville}}</p>

        </section>

    </div>

    <div class="preq-ins">
        
    </div>

</div>
-->