<main>
    <div class="flou">
        <section class="titres">
            <p class="grandTitre">IT Training</p>
            <p class="sousTitre">Organisme de formation</p>
            <div class="fondPresITT">
                <p class="presentationITT">Spécialisé dans les technologies de l'information, IT Training dispose d'un catalogue de formation fourni, ainsi que la possibilité de faire des demandes de formations spécialisées sur mesure.</p>
            </div>
        </section>
    </div>
</main>