<main>
    <section class="rechercherFormation" id="rechercherFormation">
        <h2>Rechercher une formation</h2>
        <form action="./recherche.html" method="post" id="rechForm">
            <div>
                <input type="text">
                <button type="submit">GO</button>
            </div>
            <div>
                <select name="theme" id="theme" aria-placeholder="choisissez un thème">
                    <option value="management">Management des SI</option>
                    <option value="gestion">Gestion de projet</option>
                    <option value="developpement">Développement d'application</option>
                </select>
            </div>
            <div>
                <select name="soustheme" id="soustheme">
                    <option value="sous-thème">choisissez un sous-thème</option>
                </select>
            </div>
        </form>
    </section>
</main>