section.resultats {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
section.resultats .resultat {
    background: var(--second-bg-color);
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
section.resultats .resultat div {
    display: flex;
    justify-content: space-between;
}
section.resultats .resultat div p {
    font-size: 1.5rem;
    line-height: normal;
}