<div class="headerContainer">
    <header>
        <div class="header">
            <div>
                <img id="logo" src="../../../assets/LogoBleu.png" alt="le logo">
            </div>
            <div>
                <h1>IT Training</h1>
            </div>
            <div class="nav-button">
                <input>
                <button class="nav-button" mat-raised-button>GO</button>    
            </div>
        </div>

        <mat-toolbar class="nav-buttons">
            <nav>
                <ul>
                    <button class="nav-button" mat-raised-button routerLink="home">
                        <li>
                            Accueil
                        </li>
                    </button>
                    <button class="nav-button"  mat-raised-button routerLink="#">
                        <li>
                            Formations
                        </li>
                    </button>
                    <button class="nav-button"  mat-raised-button routerLink="formations">
                        <li>
                            Recherche
                        </li>
                    </button>
                    
                    <button class="nav-button"  mat-raised-button routerLink="demande-formation-spe">
                        <li>
                            Demande Personalisée
                        </li>
                    </button> 
                </ul>
            </nav>

        </mat-toolbar>
        
        
    </header>
    
</div>