<div class="headerContainer">
    <header>
        <div class="header">
            <div>
                <img id="logo" src="../../../assets/LogoBleu.png" alt="le logo">
            </div>
            <div>
                <h1>IT Training</h1>
            </div>
            <div>
                <input>
                <button>GO</button>
            </div>
        </div>
        <nav>
            <ul>
                <a href="#">
                    <li>
                        Formations
                    </li>
                </a>
                <a routerLink="formations">
                    <li>
                        Recherche
                    </li>
                </a>    
            </ul>
        </nav>
        
    </header>
</div>