.headerContainer {
    height: 146px;
}
header {
    background-color: var(--second-bg-color);
    padding: 1rem;
    position: fixed;
    width: 100%;
    
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    width: 50%;
}
h1 {
    font-weight: 900;
}
ul {
    list-style-type: none;
}
nav {
    display: flex;
    justify-content: center;
}
nav ul {
    display: flex;
}
nav ul li {
    background-color: var(--first-color);
    padding: .7rem;
}
nav ul li:hover {
    background-color: var(--second-color);
}